<main>
    <section class="section section-lg section-hero section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-1 shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="container py-md">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <img src="./assets/img/brand/Fichier 2.png" style="width: 200px;" class="img-fluid floating">
                    <p class="lead text-white"> Management publicity </p>
                    <div class="btn-wrapper mt-5">
                        <button class="btn btn-icon btn-3  btn-secondary" type="button" (click)="openDialogAdd()">
                            <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
                            <span class="btn-inner--text">Add publicity</span>
                        </button>
                    </div>
                </div>
                <div class="col-lg-6 mb-lg-auto">
                    <div class="rounded shadow-lg overflow-hidden bootstrap-slider">
                        <ngb-carousel >
                            <ng-template ngbSlide *ngFor="let fedphoto of feedsPhoto ">
                                <img   [src]="fedphoto" style="height: 100%!important;  width: 100%!important;">
                            </ng-template>

                        </ngb-carousel>
                    </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
<section class="section section-lg section-hero">
<!--    <section class="section section-lg pt-lg-0 mt&#45;&#45;200" >-->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12" style="height: 200px !important;">
                    <div class="row row-grid"   >
                        <div style="height: 320px !important;overflow: auto;"  class=" col-lg-7  card card-lift--hover shadow border-0 " >
<!--                        <div class="" style="height: 320px !important;"   >-->
<!--                        <div id="list-example" class="list-group">-->
<!--                            <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>-->
<!--                            <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>-->
<!--                            <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>-->
<!--                            <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>-->
<!--                        </div>-->
            <h2 style="color: gray ;text-align: center;font-weight: bold;">All publicites between your age : </h2>
                        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0"  *ngFor="let p of feeds">
                            <h4>Name : {{p.name}}</h4>

                            <ul><li>Date Start : {{p.dateStart}}</li>
                                <li>Date End : {{p.dateEnd}}</li>
                                <li>Age between [{{p.ageDebut}} , {{p.ageFin}}]</li></ul>
                        </div> </div>
                        <div  class="col-lg-4 mb-5"  style="height: 200px !important;">
                            <div class="card card-lift--hover shadow border-0" >
<!--    <section class="section section-lg">-->
<!--        <div class="container">-->
<!--    <div  class="col-md-6 order-md-2 " >-->
        <canvas baseChart
                [data]="salesData"
                [type]="'pie'"
                [options]="chartOptions"
        >
        </canvas>

    </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

<!--    </section>-->

</section>



<!--    <section class="section section-lg pt-lg-0 mt&#45;&#45;300">-->
  <section  class="section section-lg section-hero bg-default">
      <h1 style="margin-bottom: 50px ; margin-top: 0!important; font-size: 2.1rem;
 font-family: 'Brush Script MT', cursive;color: white ;text-align: center;">All publicites  </h1>

      <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row row-grid"   >

                        <div *ngFor='let pub1 of publicities1' class="col-lg-4 mb-5">
                            <div class="card card-lift--hover shadow border-0" >
                                <div class="card-body py-2">
                                    <div class="card-img-top" >
                                        <img [src]="pub1.src" class=" rounded img-center img-fluid shadow shadow-lg--hover" style="max-width:200px!important; height: 200px!important;">
                                    </div>

                                    <p class="lead text-italic ">  </p>
                                    <h6 class="text-primary text-uppercase">{{pub1.name}}</h6>
                                    <p class="description mt-3">Date Start : {{pub1.dateStart}}<br> Date End : {{pub1.dateEnd}}<br>Age between [{{pub1.ageStart}} , {{pub1.ageEnd}}]<br>
                                    Domain :{{ pub1.domain}}</p>
                                                       <ul class="list-unstyled mt-5">
                                                                <li class="py-2">
                                                                    <div class="d-flex align-items-center">

                                                                            <div class="badge badge-pill badge-warning mr-3">
                                                                                <i class="ni ni-money-coins"></i>
                                                                            </div>

                                                                        <div>
                                                                            <h6 class="mb-0">       Cost :  {{pub1.cost}}</h6>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                       </ul>
                                    <div class="float-right">
                                        <button type="button"  (click)="openDialogModify(pub1.id)" class="btn btn-default btn-sm">Edit</button>
                                        <button type="button" (click)="openDialogDelete(pub1.id)"class="btn btn-secondary btn-sm">Delete</button>

                                    </div>
<!--                                    <a href="javascript:void(0)" class="btn btn-primary mt-4">Learn more</a>-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
  </section>
</main>

