<h1 class="title" >Confirmation</h1>
<div mat-dialog->
  Are you sure you want to remove this publication?</div>
<div mat-dialog-actions align="end">
  <!--  <button mat-button [mat-dialog-close]>Canncel</button>-->
  <!--  <button mat-flat-button (click)="remove()">Confirm</button>-->
  <button class="btn btn-outline-secondary" (click)="close()" >Cancel</button>
  <button class="btn btn-primary" style="background-color: #ffa0b8;border-color: #ffa0b8" (click)="remove()">Confirm</button></div>



