<main class="profile-page">
    <section class="section section-shaped section-lg ">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
<!--        <div class="container shape-container d-flex align-items-center py-lg">-->
<!--        <div  class="container pt-lg-md">-->
<!--            <div class="col px-0">-->
<!--                <div class="row align-items-center justify-content-center">-->
<!--                    <div class="col-lg-4 text-center">-->
<!--                        <img src="./assets/img/brand/Fichier 2.png" style="width: 200px;" class="img-fluid">-->
<!--                        <div class="btn-wrapper mt-5">-->
<!--                            <a (click)="openadd()" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">-->
<!--                                <span class="btn-inner&#45;&#45;icon"><i class="ni ni-fat-add"></i></span>-->
<!--                                <span class="btn-inner&#45;&#45;text">Add publication</span>-->
<!--                            </a>-->

<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- SVG separator -->
<!--        <div class="separator separator-bottom separator-skew zindex-100">-->
<!--            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">-->
<!--                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>-->
<!--            </svg>-->
<!--        </div>-->
        <div class="container pt-lg-md" >
            <div class="row justify-content-center">
                <div class=" card col-lg-8"   style="border-radius: 25px;">
<!--                    <div class="card bg-secondary shadow border-0 "  >-->
                        <div class="card-header bg-white pb-5">
                            <div class="row mt-4 mb-4">
<!--                                <div class="col-1">-->
                                    <img class="ml-4" style="width :70px; height: 50px" src="./assets/img/brand/logoblue.png" >
<!--                                    <i style="font-size: 50px ; color: #2d4474 ;" class="ni ni-circle-08 "></i>-->

<!--                                </div>-->
                                <div class="ml-2" >
                                    <button id="button" (click)="openAddpub('')">what's up , {{user.username}} ?</button>

                        </div>
                                </div>
                            <mat-divider style="color: #2d4474; font-size: 50px"></mat-divider>
                            <div class="row mt-4 justify-content-lg-center" id="divbtn">

                                <div class="col-6 col-md-4"><button (click)="openAddpub('survey')" class="btn btn-outline-secondary btn-round">
                                    <i class="ni ni-ui-04 text-success"></i> Survey
                                </button></div>
                                <div class="col-6 col-md-4"><button (click)="openAddpub('mood')" class="btn btn-outline-secondary btn-round">
                                    <i class="ni ni-satisfied text-warning "></i> Mood
                                </button></div>
                                <div class="col-6 col-md-4">
                                    <button (click)="openAddpub('photo')" class="btn btn-outline-secondary btn-round" >
                                        <i class="ni ni-album-2 text-danger"></i> Photo/Vedio
                                    </button></div>
                            </div>
<!--                            <div class="text-muted text-center mb-3">-->
<!--                                <small>Sign in with</small>-->
<!--                            </div>-->
<!--                            <div class="btn-wrapper text-center">-->
<!--                                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">-->
<!--                  <span class="btn-inner&#45;&#45;icon">-->
<!--                    <img src="./assets/img/icons/common/github.svg">-->
<!--                  </span>-->
<!--                                    <span class="btn-inner&#45;&#45;text">Github</span>-->
<!--                                </a>-->
<!--                                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">-->
<!--                  <span class="btn-inner&#45;&#45;icon">-->
<!--                    <img src="./assets/img/icons/common/google.svg">-->
<!--                  </span>-->
<!--                                    <span class="btn-inner&#45;&#45;text">Google</span>-->
<!--                                </a>-->
<!--                            </div>-->
                        </div>
<!--                        <div class="card-body px-lg-5 py-lg-5">-->
<!--                            <div class="text-center text-muted mb-4">-->
<!--                                <small>Or sign in with credentials</small>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;              <form role="form">&ndash;&gt;-->
<!--                            <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">-->
<!--                                <div class="input-group input-group-alternative">-->
<!--                                    <div class="input-group-prepend">-->
<!--                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>-->
<!--                                    </div>-->
<!--                                    <input  placeholder="user" type="text"[(ngModel)]="login.username" (focus)="focus=true" (blur)="focus=false">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="form-group" [ngClass]="{'focused':focus1===true}">-->
<!--                                <div class="input-group input-group-alternative">-->
<!--                                    <div class="input-group-prepend">-->
<!--                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>-->
<!--                                    </div>-->
<!--                                    <input placeholder="Password" [(ngModel)]="login.password" type="password" (focus)="focus1=true" (blur)="focus1=false">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="custom-control custom-control-alternative custom-checkbox">-->
<!--                                <input class="custom-control-input" id=" customCheckLogin" type="checkbox">-->
<!--                                <label class="custom-control-label" for=" customCheckLogin">-->
<!--                                    <span>Remember me</span>-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <div class="text-center">-->
<!--                                <button type="button" class="btn btn-primary my-4">Add publication</button>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;              </form>&ndash;&gt;-->
<!--                        </div>-->
                    </div>

<!--                </div>-->
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container" *ngFor="let p of publications">
            <div class="row justify-content-center ">
            <div class="card card-profile shadow col-lg-8 " style="margin-top: 40px;border-radius: 20px; ">
                <div class="px-2">
                    <div class="row justify-content-center">
                        <div class=" float-left mr-4 ">
                            <div class="card-profile-image border-0">

<!--                                <a href="javascript:void(0)">-->
<!--                                    <i style="font-size: 50px ; color: #2d4474 ;" class="ni ni-circle-08 "></i>-->
                                    <img style="width: 50px; height: 50px;" src="./assets/img/brand/user.png"  class="rounded-circle" >
<!--                                </a>-->
                            </div>

                        </div>
                        <div class="col-lg-8 order-lg-3   ml-100">
                            <h4 class="font-weight-700">{{p.user.username}}
                                <span class="font-weight-light" *ngIf="p.mood !== ''"> : {{p.mood}}</span>
                                <br>
                                <span class="font-weight-light" *ngIf="p.location !== null" > in {{p.location}}</span>

                            </h4>

<!--                            <div class="h7 mt-4">{{p.user.username}}-->
<!--                                <span class="font-weight-light" *ngIf="p.mood != null"> : {{p.mood}}</span></div>-->
<!--                            <div  *ngIf="p.location !== null"> <i class="ni education_hat mr-2" ></i> in {{p.location}}</div>-->
<!--                            <div  class="h7 font-weight-400" *ngIf="p.location !== null"><mat-icon style="font-size: 15px "> location_on</mat-icon>	{{p.location}}</div>-->

                        </div>

                        <div class="col-lg-2 order-lg-4 text-lg-right float-right mr--100">
                            <div class="card-profile-actions py-2 mt-lg-0" *ngIf="p.user.id === user. id ">
<!--                                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>-->
<!--                                <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>-->

                            <button mat-icon-button class="bg-transparent" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"  >
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button (click)="openDialogModify(p.id)" mat-menu-item>
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>
                                <button (click)="openDialogDelete(p.id)" mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>


                            </mat-menu>
                        </div>
                        </div>
                    </div>
                    <div class="text-center mt-2">

                        <h3 class="text-left">
<!--                            <span *ngIf="p.idUserIden.length !== 0" >-->
<!--                                <span  *ngFor="let idU of p.idUserIden">-->
<!--                                <span  *ngIf="idU !== null ">-->
<!--                               <span style="color: #3b5999">wafa+{{findbyId(idU)}}</span></span>-->
<!--                                </span></span>-->
                            {{p.topic}}</h3>
                        <div *ngIf="p.survey.question !== null && p.survey.options !== null "  class="mb-2">
                            <h4 class="font-italic font-weight-700">{{p.survey.question}} ??</h4>
                            <div class="container">

                                <div class="row justify-content-center "  >

                                    <div class="col-4" *ngFor="let op of p.survey.options;let index = index"   [ngStyle]="index %2  === 0 ? {'background-color': '#AED6F1', 'border-radius': '15px 0px 0px 15px'} : {'background-color': '#D2B4DE', 'border-radius': '0px 15px 15px 0px'} " (click)="addopSuvery(op.id)">
                                        <h4>{{op.option}} </h4>
                                        <ng-container class="font-weight-light" *ngIf="op.iduser !== null; else newDeb" >
                                            <h4>{{op.iduser.length}} %</h4>
                                        </ng-container>
                                        <ng-template  class="font-weight-light" #newDeb>
                                            0%
                                        </ng-template>

                                        <ngb-alert [class.visible]="isVisible" *ngIf="alert != null" [type]="alert.type"   >
                                            <ng-container *ngIf="alert.icon">
                                                <div class="alert-inner--icon">
                                                    <i class="{{alert.icon}}"></i>
                                                </div>
                                            </ng-container>
                                            <span class="alert-inner--text">  <strong>{{alert.strong}} </strong>{{ alert.message }}</span>
                                        </ngb-alert>
                                    </div>



                                </div>
                            </div>

<!--                                <div *ngIf="op.iduser !== null;then contenu">-->
<!--                                    <h4>length : {{op.iduser.length}} </h4>-->
<!--                                </div>-->
<!--                                <ng-template #contenu>0</ng-template>-->

                        </div>
                        <div *ngIf="p.resources.length !== 0"  class="mb-2">
                            <div class="col-lg-10 mb-lg-auto center">
                            <div class="rounded  bootstrap-slider">
                                <ngb-carousel >
                                    <ng-template ngbSlide *ngFor="let res of p.resources">
                                        <img   [src]="res.url" style="height: 100%!important;  width: 100%!important;">
                                    </ng-template>

                                </ngb-carousel>
                            </div>
                            </div>
                        </div>

                    </div>

                    <div class="mt-2 py-2 border-top text-center">
                        <div class="row float-left">
                            <ng-container class="font-weight-light" *ngIf=" verifie(p.ratings)  ; else rating" >
                                <button  style="color: red; background-color: transparent;border: transparent;   margin-left: 20px" (click)="addRating(p.id)" >
                                    <mat-icon style="font-size: 30px">favorite_border</mat-icon>
                                </button>
                            </ng-container>
                            <ng-template  class="font-weight-light mt- ml-10" #rating>

                                <mat-icon style="font-size: 30px; color: red;margin-left: 20px">favorite</mat-icon>

                            </ng-template>

                            <!--                            <div class="col-lg-9">-->
                            <!--                                <p>An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</p>-->
                            <!--                                <a href="javascript:void(0)">Show more</a>-->
                            <!--                            </div>-->
                        </div>
                        <div class="float-right " >
                            <div class="card-profile-stats d-flex justify-content-center" style="margin-top: -1.5rem !important;">
                                <div>
                                    <span class="heading">{{p.ratings.length}}</span>
                                    <span class="description">Likes</span>
                                </div>
                                <div>
                                    <span class="heading">{{p.resources.length}}</span>
                                    <span class="description">Photos</span>
                                </div>
                                <div>
                                    <span class="heading">{{p.comments.length}}</span>
                                    <span class="description">Comments</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="mt-5 py-5 border-top">
                        <div class="container" style="margin-top: -1.5em !important;">
                         <a class="float-right" [routerLink]="['../comment', p.id]" style="border-bottom: 1px #3b5999 ; color: #3b5999" >Go to comments</a><br>
<!--                        <div class="row">-->

<!--                            <div class="col justify-content-center" style="width: 600px;   height: 50px;text-align: left;border-radius: 40px;border: 1px solid #cccccc; background-color: rgba(226,226,226,0.88)">-->
<!--                                <input [(ngModel)]="comment.comment"  placeholder="write your comment" style="width: 500px;   height: 50px;background-color: transparent; border-color: transparent!important;" />-->

<!--                                <i class='float-right attachment'-->
<!--                                   (click)="verif = p.id"-->
<!--                                   [(emojiPickerIf)]="p.id ===  verif"-->
<!--                                   [emojiPickerDirection]="'top'"-->
<!--                                   (emojiPickerSelect)="handleSelection($event)">-->
<!--                                    <mat-icon> sentiment_satisfied_alt</mat-icon>-->
<!--                                </i>-->

<!--                                &lt;!&ndash;                                <p>An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                <a href="javascript:void(0)">Show more</a>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </section>
</main>
