<h2 style="color: #3b5999 ;text-align: center;font-weight: bold;">Sous-comments </h2>
<div mat-dialog->
    <div class="col" style=" width: 100%; height: 50px;text-align: left;">
        <input   (keyup.enter)="addsou()" [(ngModel)]="msg"  placeholder="write your comment" style="width: 80%;   height: 50px;background-color: transparent; border-color: transparent!important;" />



        <!--                                <p>An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</p>-->
        <!--                                <a href="javascript:void(0)">Show more</a>-->
    </div>
    <div style="max-height: 320px !important;overflow: auto;"  class=" col-lg-7 border-0 " >
        <!--                        <div class="" style="height: 320px !important;"   >-->
        <!--                        <div id="list-example" class="list-group">-->
        <!--                            <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>-->
        <!--                            <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>-->
        <!--                            <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>-->
        <!--                            <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>-->
        <!--                        </div>-->
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0"  *ngFor="let p of arrays">
            <ul>
            <li> {{p}}</li>
            </ul>
<!--            <ul><li>Date Start : {{p.dateStart}}</li>-->
<!--                <li>Date End : {{p.dateEnd}}</li>-->
<!--                <li>Age between [{{p.ageDebut}} , {{p.ageFin}}]</li></ul>-->
        </div> </div>

</div>
